# .ebextensions/01-environment.config
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --no-dev
  aws:elasticbeanstalk:application:environment:
    APP_ENV: 'production'
    APP_KEY: 'your-app-key'
    APP_DEBUG: 'false'
    RDS_CONNECTION: 'mysql'
    RDS_HOSTNAME: 'your-rds-hostname'
    RDS_PORT: 'your-rds-port'
    RDS_DB_NAME: 'your-db-name'
    RDS_USERNAME: 'your-username'
    RDS_PASSWORD: 'your-password'
    ANTARES_DEVICE: 'your-antares-device-link'
    ANTARES_ACCESS_KEY: "your-antares-access-key"
    TIPE_AIR: "1"
    TIPE_PUPUK: "2"
    RELAY_MATI: "CLOSE"
    RELAY_NYALA: "OPEN"
    URL_MACHINE_LEARNING: 'your-integration-with-ml-link'
